<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#each contents }}
<div class="thumbnail">
    <div class="caption">
        <h3>{{ this.title }}</h3>
        <br>
        <small> {{ this.author}} </small>
        <br>
        <form class="form-inline">
            <div class="form-group mx-sm-3">
                <input type="text" class="form-control" value="{{ this.description }}" id="content-des">
            </div>
            <button type="button" class="btn btn-success update-content" value="{{ this.id }}">Update</button>
            <button type="button" class="btn btn-danger delete-content" value="{{ this.id }}">Delete</button>
        </form>
    </div>
</div>
{{/each}}
