<div class="container">
    <h1>Login Page</h1>
    <p class="lead">Welcome to my authen</p>

    <form role="form" action="/login" method="post" class="login-form">
        <div class="form-group">
            <label for="username">Username: </label>
            <input class="form-control" type="text" name="username" placeholder="">
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input class="form-control" type="password" name="password" placeholder="">
        </div>
        <button class="btn btn-primary btnLogin" type="submit">Submit</button>
    </form>
</div>

