<div class="container">
    <h1>Register Page</h1>
    <p>Welcome</p>
    <form role="form" action="/register" method="post" class="register-form">
        <div class="form-group">
            <label for="username">Username: </label>
            <div class="alert alert-danger register-err-username" role="alert">Username must not have special character except . or _ and from 6-30 character</div>
            <input type="text" name="username" class="form-control register-username">
        </div>
        <div class="form-group">
            <label for="fullname">Fullname: </label>
            <div class="alert alert-danger register-err-fullname" role="alert">Wrong fullname format</div>
            <input type="text" name="fullname" class="form-control register-fullname">
        </div>
        <div class="form-group">
            <label for="address">Address: </label>
            <div class="alert alert-danger register-err-address" role="alert">wrong address format</div>
            <input type="text" name="address" class="form-control register-address">
        </div>
        <div class="form-group">
            <label for="phone">Phone: </label>
            <div class="alert alert-danger register-err-phone" role="alert">Wrong phone format</div>
            <input type="text" name="phone" class="form-control register-phone">
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <div class="alert alert-danger register-err-password" role="alert">Wrong password format</div>
            <input type="text" name="password" class="form-control register-password">
        </div>
        <button type="button" class="btn btn-default btnRegister">Submit</button>
    </form>
</div>
