body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.register-err-username,
.register-err-fullname,
.register-err-address,
.register-err-phone,
.register-err-password {
    display: none;
}
